// Styling for the services section
.service-box {
  max-width: 400px;
}

.section-vision {
  color: $white;

  background-image: linear-gradient(rgba(black, .3), rgba(black, .3)), url('../img/section-gb-4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
